@import url(../abstract/variaveis.css);

.container {
	display: flex;
	flex-direction: column;
    background: var(--cor-cinza);
}

.container, .container__titulo {
	text-align: center;
}

.menu {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
	margin-bottom: 1rem;
}

.menu, .menu__item {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

.menu__item:hover {
	color: #DAA520;
	text-decoration: underline;
}

/* CSS tela de TABLET */

@media screen and (min-width: 760px) {
	.container {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.menu, .menu__item {
		font-size: 25px;
	}
}